{% extends "index.html" %}
{% block content %}

<div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-header" class="modal-header">
                Missä kokouksessa lomake hyväksyttiin?
            </div>
            <div class="modal-body">
                <label for="info">Hyväksytty killan kokouksessa:</label>
                <input id="info" class="form-control" type="text"/>
            </div>
            <div class="modal-footer">
                <button id="submit-accept" class="btn btn-success">Hyväksy!</button>
                <button id="cancel-accept" class="btn btn-danger">Peruuta!</button>
            </div>
        </div>
    </div>
</div>

<h4 id="empty" hidden>Ei kulukorvauslomakkeita.</h4>

<div id="table">
    <div class="row">
        <div class="col-sm-8">
            <form id="search-form" class="form-inline">
                <div class="col-sm-7">
                    <input id="name" class="form-control" placeholder="Lähettäjä" />
                    <input id="date" class="form-control" placeholder="Päiväys" />
                </div>
                <div class="form-group col-sm-8">
                    <select class="form-control" id="accepted" type="checkbox" value="Kaikki">
                        <option>Kaikki</option>
                        <option>Hyväksytyt</option>
                        <option>Hyväksymättömät</option>
                    </select>
                    <button id="search" class="form-control btn btn-success">Hae&nbsp;<span class="fa fa-search"></span></button>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <button class="prev btn btn-primary"><span class="fa fa-angle-left"></span></button>
            <span class="page"></span>
            <button class="next btn btn-primary"><span class="fa fa-angle-right"></span></button>
        </div>
    </div>

    <table class="table table-striped col-sm-12">
        <thead>
            <tr>
                <th class="col-sm-4">Lähettäjä</th>
                <th class="col-sm-3">Päiväys</th>
                <th class="col-sm-2">Hyväksytty</th>
                <th class="col-sm-3"></th>
            </tr>
        </thead>
        <tbody id="table-body">

        </tbody>
    </table>

    <div class="col-sm-4">
        <button class="prev btn btn-primary"><span class="fa fa-angle-left"></span></button>
        <span class="page"></span>
        <button class="next btn btn-primary"><span class="fa fa-angle-right"></span></button>
    </div>
</div>

<script src="{{ url_for('static', filename='view.js') }}"></script>
{% endblock %}
